<div class="dialog-style">
  <h2 mat-dialog-title>Create Daily Menu</h2>
  <mat-dialog-content>
    <div style="display: flex; flex-direction: column; gap: 1%;">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Name" [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-select [(ngModel)]="day">
          <mat-option *ngFor="let option of days" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-selection-list #meals>
      <mat-list-option *ngFor="let meal of mealList" [value]="meal" >
        <div style="display: flex">
          <div style="min-width: 30%">{{ meal.name }}</div>
        </div>
      </mat-list-option>
    </mat-selection-list>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="dialog-button" mat-button (click)="createDailyMenu(meals.selectedOptions.selected)">Confirm</button>
    <button class="dialog-button" mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
  </mat-dialog-actions>
</div>

