<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    
    <main>
      <form class="form-signin form-miw" [formGroup]="preferenceform" (ngSubmit)="savePreferences()">
      <img src="assets/imgs/miw_icon.png" alt="" width="100" height="100">
        <fieldset> 
          <legend>Preferences</legend>
          <div class="div-input">
            <a class="a-input">Number of UFOs: </a>
          <input type='number' [value]='1' class="form-control input-miw" formControlName="ufos" id="game-ufos" [min]=1 [max]= 5></div>

          <div class="div-input">
            <a class="a-input" >Time(Seconds): </a>
          <select class="form-control input-miw" formControlName="time"  id="game-time">
              <option value="60">60</option>
              <option value="120">120</option>
              <option value="180">180</option>
          </select>
        </div>
        <button style="margin-top: 1rem;" class="btn btn-lg btn-primary btn-block" type='submit' id='btn_submit'>Accept</button>
       </fieldset>     
      </form>
    </main>

  </div>