<div class="dialog-style">
  <h2 mat-dialog-title>Create Meal</h2>
  <mat-dialog-content>
    <div style="display: flex; flex-direction: column; gap: 1%;">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Name" [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-select [(ngModel)]="category">
          <mat-option *ngFor="let option of categories" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-selection-list #ingredients>
      <mat-list-option *ngFor="let ingredient of mealIngredients" [value]="ingredient" >
        <div style="display: flex">
          <div style="min-width: 30%">{{ ingredient.ingredient.name }}</div>
          <div style="display: inline-block; margin-left: 20px;">
            <input type="number" min="0" [(ngModel)]="ingredient.quantity" placeholder="Quantity" style="width: 60px;">
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="dialog-button" mat-button (click)="createMeal(ingredients.selectedOptions.selected)">Confirm</button>
    <button class="dialog-button" mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
  </mat-dialog-actions>
</div>

