<div class="dialog-style">
  <h2 mat-dialog-title>Create Planner</h2>
  <mat-dialog-content>
    <div style="display: flex; flex-direction: column; gap: 1%;">
      <mat-form-field style="width: 100%;">
        <label>Name</label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <label>Description</label>
        <input matInput [(ngModel)]="description">
      </mat-form-field>
    </div>
    <mat-selection-list #items>
      <mat-list-option *ngFor="let item of data.items" [value]="item">
        {{ item.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="dialog-button" mat-button (click)="createPlanner(items.selectedOptions.selected)">Confirm</button>
    <button class="dialog-button" mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
  </mat-dialog-actions>
</div>

