<div class="dialog-style">
  <h2 mat-dialog-title>Create Planner</h2>
  <mat-dialog-content>
    <div style="display: flex; flex-direction: column; gap: 1%;">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Name" [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Description" [(ngModel)]="description">
      </mat-form-field>
    </div>
    <mat-selection-list #dailyMenus>
      <mat-list-option *ngFor="let dailyMenu of dailyMenuList" [value]="dailyMenu" >
        <div style="display: flex">
          <div style="min-width: 30%">{{ dailyMenu.name }}</div>
        </div>
      </mat-list-option>
    </mat-selection-list>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="dialog-button" mat-button (click)="createDailyMenu(dailyMenus.selectedOptions.selected)">Confirm</button>
    <button class="dialog-button" mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
  </mat-dialog-actions>
</div>

