#ufo { 
  position:absolute;
  bottom:375px;
  left:0px;
}

#missile {
  position:absolute;
  left:300px;
  bottom:10px;
  height:70px;
  width:40px;
  z-index: 10;
}

#points {
  position:absolute;
  bottom:10px;
  right:30px;
  width:150px;
  height:50px;
  background-color:rgb(247, 140, 66);
  color:black;
  border-radius: 10px;
  text-align:center;
  z-index: 15;
}   

#time {
  position: absolute;
  bottom: 10px;
  left: 30px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 0.1rem solid black;
  text-align:center;
  background-color:azure;
  color: black;
  z-index: 15;

}

#send {
  position: absolute;
  bottom: 65px;
  left: 42px;
  width: 80px;
  height: 30px;
  padding-top: 5px;
  border-radius: 10px;
  font-size: 0.8rem;
  text-align:center;
  color: black;
  background-color: rgb(247, 140, 66);
  z-index: 15;
  cursor: pointer;
}

#total-div{
  position: absolute;
  bottom: 35%;
  left: 35%;
  width: 192px;
  height: 144px;
  padding-top: 5px;
  border-radius: 10px;
  font-size: 0.8rem;
  vertical-align: middle;
  text-align:center;
  color: black;
  background-color: rgb(247, 140, 66);
  border: 0.2rem solid white;
  z-index: 15;
  padding-top: 15px;
}

#dialog-game{
  display: none;
  z-index: 10; 
  top: 45%;
  background-color: rgb(247, 140, 66);
  color:white;
  position: absolute;
}

#game-div{
  position: relative; 
  margin-top: 1rem; 
  margin-left: auto; 
  margin-right: auto; 
  border: 0.3rem solid rgb(247, 140, 66);
  background-image: url("../../assets/imgs/galaxy.jpg");
  height: 30rem; 
  width: 45rem;
}

#new-game-btn{
  cursor: pointer;
  background-color: azure;
  border: 0.1rem solid black;
  border-radius: 10px;
  width: 80px;
  height: 20px;
  margin-left: 30%;
}