<div id="main-container" style="padding: 1rem;" class="cover-container h-100 mx-auto flex-column">
    <div #game_div id="game-div">
        <app-ufo *ngFor="let u of [].constructor(ufos); let i = index" 
        #ufosel ></app-ufo>
        <app-missile #missile></app-missile>
        <div #points id='points' >Points:<br> {{pointssrt}} </div>
        <div>
            <div #timer id='time' >Time<br> {{timersrt}} </div> 
            <div id='send'  *ngIf="sendScoreBtn" (click)="sendScore()">Send Score</div>   
        </div>
        <div *ngIf="showScore" id='total-div'>
            <h2 style="color:white">Total Score</h2>
            <h2>{{pointssrt}} poins</h2>
            <p id="new-game-btn" (click)="newGame()" type="button">new game</p>
        </div>
    </div>
</div>
<dialog id="dialog-game">
    <div id="dialog-text"></div>
    <button type="button" id="play-dialog-btn">Play Again</button>
    <button type="button" id="close-dialog-btn">Close</button>
</dialog>