<div>
  <main>
    <button class="new-button" (click)="openCreateDialog()">NEW</button>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <div style="display: flex">
          <div style="display: block" class="list-element">
            <div style="font-weight: bold">Daily Menu 1</div>
            <div style = "margin-left: 1%; display: flex" >MONDAY</div>
          </div>
          <mat-icon fontIcon="search" style="align-self: center" (click)="openDailyMenu()"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div style="display: flex">
          <div style="display: block" class="list-element">
            <div style="font-weight: bold">Daily Menu 2</div>
            <div style = "margin-left: 1%; display: flex" >TUESDAY</div>
          </div>
          <mat-icon fontIcon="search" style="align-self: center" (click)="openDailyMenu()"></mat-icon>
        </div>
      </mat-list-item>

    </mat-list>

    <!--<div *ngIf="selectedItems.length">
      <h3>Selected Items:</h3>
      <ul>
        <li *ngFor="let item of selectedItems">{{ item.name }}</li>
      </ul>
    </div>-->
  </main>
</div>
