:host{
  width: 100%;
  min-height: 150px;
  max-height: 350px;
  height: 10%;
  display: flex;
  flex-direction: column;
  mat-toolbar {
    flex-grow: 0;
  }
  mat-list {
    min-height: 150px;
    max-height: 500px;
    border: 3px solid black;
    overflow-y: auto;
  }
}

mat-list-item {
  max-width: 98%;
  margin: 1%;
  border: 3px dashed #BCD2C3;
}

.list-element{
  max-width: 95%;
  min-width: 95%;
}

.new-button{
  margin-top: 1%;
  margin-bottom: 1%;
  min-width: 33%;
}

