<div>
  <a style="font-weight: bold">Planner</a>
  <main>
    <div>
      <div style="display: flex;">
        <input type="text" [readOnly]="!editable" [(ngModel)]="planner.name">
        <div style="min-width: 14%"></div>
        <button class="edit-button" (click)="edit()">Edit</button>
        <button class="edit-button" (click)="openShoppingList()">Shopping List</button>
        <button class="edit-button" (click)="delete(planner.id)">Delete</button>
      </div>
      <div>
        <textarea [readOnly]="!editable" [(ngModel)]="planner.description"></textarea>
      </div>
      <div>
        <div style="min-width: 100%; margin-bottom: 2%; margin-top: 2%">
          <a style="vertical-align: bottom; font-weight: bold;">Daily Menus</a>
          <ng-template [ngIf]="editable">
            <button style="margin-left: 5%" (click)="addDailyMenu()">Add</button>
            <button style="margin-left: 5%" (click)="editList()">Edit List</button>
          </ng-template>

        </div>
        <mat-list role="list">
          <mat-list-item *ngFor="let dailyMenu of planner.dailyMenus" role="listitem">
            <div style="display: flex">
              <div style="display: flex" class="list-element">
                <div style="font-weight: bold; margin-right: 1%">Name:</div>
                <div style="min-width: 25%;">{{dailyMenu.name}}</div>
              </div>
              <ng-template [ngIf]="editableList">
                <mat-icon fontIcon="delete" style="align-self: center" (click)="removeDailyMenu(dailyMenu.id)"></mat-icon>
              </ng-template>
            </div>
          </mat-list-item>
        </mat-list>
        <ng-template [ngIf]="editable">
          <div class="save-button">
            <button style="min-width: 33%" (click)="save()">Save</button>
          </div>
        </ng-template>
      </div>
    </div>
  </main>
</div>


