:host{

  width: 100%;
  min-height: 150px;
  max-height: 350px;
  height: 10%;
  display: flex;
  flex-direction: column;
  mat-toolbar {
    flex-grow: 0;
  }
  mat-list {
    min-height: 150px;
    max-height: 150px;
    border: 3px solid black;
    overflow-y: auto;
    background-color: white !important;
  }
}

mat-list-item {
  max-width: 98%;
  margin: 1%;
  border: 3px dashed #BCD2C3;
}

input{
  border: 3px solid black;
}

textarea{
  border: 3px solid black;
}

textarea{
  margin-top: 2%;
  min-width: 98%;
}

.list-element{
  max-width: 95%;
  min-width: 95%;
}

main{
  border: 3px solid black;
  padding: 5%;
  background-color: #BCD2C3 !important;
}

.edit-button{
  margin: 1%;
  float: right;
}
