<div>
  <a style="font-weight: bold">Planner</a>
  <main>
    <div>
      <div style="display: flex;">
        <input type="text" value="Planner 1">
        <div style="min-width: 14%"></div>
        <button class="edit-button" (click)="edit()">Edit</button>
        <button class="edit-button">Shopping List</button>
        <button class="edit-button" (click)="delete()">Delete</button>
      </div>
      <textarea >Planner 1 Description</textarea>

      <div>
        <div style="min-width: 100%; margin-bottom: 2%; margin-top: 2%">
          <a style="vertical-align: bottom; font-weight: bold;">DailyMenu</a>
          <ng-template [ngIf]="editable">
            <button style="margin-left: 5%">Add</button>
          </ng-template>

        </div>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <div style="display: flex">
              <div style="display: block" class="list-element">
                <div style="font-weight: bold">Daily Menu 1</div>
                <div style = "margin-left: 1%; display: flex" >Monday</div>
              </div>
              <ng-template [ngIf]="editable">
                <mat-icon fontIcon="delete" style="align-self: center" (click)="removeDailyMenu()"></mat-icon>
              </ng-template>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div style="display: flex">
              <div style="display: block" class="list-element">
                <div style="font-weight: bold">Daily Menu 2</div>
                <div style = "margin-left: 1%; display: flex" >Tuesday</div>
              </div>
              <ng-template [ngIf]="editable">
                <mat-icon fontIcon="delete" style="align-self: center" (click)="removeDailyMenu()"></mat-icon>
              </ng-template>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div style="display: flex">
              <div style="display: block" class="list-element">
                <div style="font-weight: bold">Daily Menu 3</div>
                <div style = "margin-left: 1%; display: flex" >Wednesday</div>
              </div>
              <ng-template [ngIf]="editable">
                <mat-icon fontIcon="delete" style="align-self: center" (click)="removeDailyMenu()"></mat-icon>
              </ng-template>
            </div>
          </mat-list-item>

        </mat-list>
        <ng-template [ngIf]="editable">
          <div class="save-button">
            <button style="min-width: 33%">Save</button>
          </div>
        </ng-template>
      </div>
    </div>
  </main>
</div>

