.div-table{
  position: relative; 
  margin-top: 1rem; 
  height: 30rem; 
  width: 30rem;
  margin-left: auto; 
  margin-right: auto; 
  background-color: rgb(247, 140, 66);
  border: 0.2rem solid black;
  color: black; 
  flex-wrap: flex;
  padding-left: 0.5rem; 
  padding-right: 0.5rem;
}

.div-tables{
  display: flex;
}

.div-table > h2{
  color: white;
}

.table-responsive::-webkit-scrollbar {
  display: none;
}