<div id="cuerpo">
    <div id="fondocuerpo">
        <main role="main" class="inner cover" style="justify-content: center;">
            <div style=" max-width: 30rem; margin: 0 auto;">
                <img src="assets/imgs/miw_icon.png" width="200" class="center">
                <h1 class="cover-heading">Master en Ingeniería Web</h1>
                <p class="lead" style="margin: 1rem; text-align: center">
                  Trabajo de Fin de Master
                </p>

                <p class="lead" style="margin: 2rem;">
                </p>
            </div>
        </main>
    </div>
</div>
