<div id="cuerpo">
    <div id="fondocuerpo">
        <main role="main" class="inner cover" style="justify-content: center;">
            <div style=" max-width: 30rem; margin: 0 auto;">
                <img src="assets/imgs/miw_icon.png" class="center">
                <h1 class="cover-heading" style="margin: 1rem; text-align: center">Master en Ingeniería Web</h1>
                <p class="lead" style="margin: 1rem; text-align: center">
                  Aplicación web para la gestión de comidas diarias e insumos necesarios en su preparación.
                </p>
              <p class="lead" style="margin: 1rem; text-align: center; font-style: italic">
                Ricardo Vente Montes
              </p>
                <p class="lead" style="margin: 2rem;">
                </p>
            </div>
        </main>
    </div>
</div>
